---
---
<!DOCTYPE html data-theme="bumblebee">
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link href="/assets/css/daisyui-full.min.css" rel="stylesheet" type="text/css" />
    <script src="/assets/js/tailwind.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}"> -->
</head>

<body class="min-h-screen">
    <!-- Navigation -->
    <div class="navbar bg-base-100">
        <div class="navbar-start">
            <a class="btn btn-ghost text-xl">Your Logo</a>
        </div>
        <div class="navbar-end">
            <button class="btn btn-primary">Get Started</button>
        </div>
    </div>

    <main class="container">
        {{ content }}
    </main>

    <!-- Footer -->
    <footer class="footer p-10 bg-base-200 text-base-content">
        <nav>
            <h6 class="footer-title">Find Me</h6>
            <a class="link link-hover">GitHub</a>
            <a class="link link-hover">LinkedIn</a>
        </nav>
    </footer>
</body>


</html>